GitPython
datasets
black
parameterized
accelerate
numpy==1.24.3
jax==0.4.13
evaluate
tensorflow
timeout-decorator
sentencepiece
hf-doc-builder
jaxlib==0.4.13
datasketch
faiss-gpu
optax
dpu_utils
flax==0.7.0
nltk
sacrebleu
sacremoses
rouge_score
seqeval
numba
