GitPython
black
parameterized
accelerate
numpy==1.24.3
evaluate
timeout-decorator
sentencepiece
hf-doc-builder
datasketch
faiss-gpu
optax
dpu_utils
nltk
sacrebleu
sacremoses
rouge_score
seqeval
numba
rjieba
pytest-xdist
datasets==2.15.0
jaxlib==0.4.13
flax==0.7.0
jax==0.4.13
tensorflow==2.15.0
scipy==1.12
